body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #000000;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    width: 150px;
    height: auto;
    padding: 6px;
}

header {
    background-color: #cfbf28;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #366251;
}


footer {
    background-color: #cfbf28;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 30px;
}
.redes-sociales {
    margin-bottom: 10px;
}
.redes-sociales a {
    color: #fff; 
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #366251; 
}
.login-form {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #b6ffbc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color:#a8dadc;
}